<% content_for(:title) { t(".title") } %>

<% content_for :actions do %>
  <div class="mt-4 flex-shrink-0 flex md:mt-0 md:ml-4">
    <%= link_to t(".new"), new_admin_invitee_path, class: "btn btn-primary" %>
  </div>
<% end %>

<div class="px-4 sm:px-6 lg:px-8">
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"><%= User.human_attribute_name(:full_name)%></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= User.human_attribute_name(:email)%></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= User.human_attribute_name(:role)%></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Invité?</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Accepté?</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Invité par?</th>
                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <%= render @users %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
